:root {
    --primary-color: #14B8A6;
}
body {
    font-family: monospace;
}

.h1-basic {
    color: var(--primary-color);
    text-align: center;
}

.h2-basic {
    color: var(--primary-color);
    text-align: center;
}

.description-std {
    padding: 1rem 1rem;
    /* border-left: 5px solid var(--primary-color); */
    background-color: aliceblue;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
}

.syntax-std {
    padding: 1rem 1rem;
    border-left: 6px solid rgb(220, 153, 251);
    background-color: rgb(246, 227, 255);
    border-radius: 12px;
}

.quotes {
    text-align: center; 
    font-family:cursive;
}
