:root {
    --primary-color: #14B8A6;
}
body {
    font-family: monospace;
}

.h1-basic {
    color: gold;
    text-align: center;
}

.h2-basic {
    color: var(--primary-color);
    text-align: center;
}

.description-std {
    padding: 1rem 1rem;
    border-left: 5px solid var(--primary-color);
    background-color: floralwhite;
}

.quotes {
    text-align: center; 
    font-family:cursive;
}
