@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --primary-color: #14B8A6;
}
body {
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Quicksand', sans-serif;
}

.h1-basic {
    font-family: 'Itim', cursive;
    color: var(--primary-color);
    text-align: center;
}

.h2-basic {
    color: var(--primary-color);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ul-remove-bullet {
    list-style: none;
}

.index-std {
    text-align: center;
    padding: 0.5rem;
    font-size: x-large;
}

.index-pills {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: mediumseagreen;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    padding: 1rem;
  }

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}
  
.container-center {
    max-width: 300px;
    margin: auto;
}

.description-std {
    color: slategray;
    background-color: rgb(240, 255, 224);
    padding: 0.5rem 0.5rem;
    /* border: 2px solid var(--primary-color); */
    /* border-left: 5px solid var(--primary-color); */
    border-radius: 15px;
}

.syntax-std {
    padding: 0.5rem 1rem;
    border-left: 6px solid rgb(220, 153, 251);
    background-color: rgb(249, 239, 253);
    border-radius: 15px;
}

.quotes {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center; 
    font-family: 'Dancing Script', cursive;
    font-size: larger;
}

.img-responsive {
    width: 100%;
    max-width: 500px;
    height: auto;
}
